---
export interface Props {
post: any;
}
const { post } = Astro.props;
---
<header class="space-y-3">

  <p class="text-xs text-[#707070]">{post.frontmatter.publishDate}</p>
  <div>
  <h1 class="text-base font-light leading-none text-white">{post.frontmatter.title}</h1>
</div>
</header>
<p class="text-[#707070] text-xs">{post.frontmatter.description}</p>
<a class="text-white/70 text-xs hover:text-white before:content-['↳_']" href={post.url}>Read more</a>
