---
export interface Props {
title: string;
author: string;
publishDate: string;
alt: string;
}
const { title, publishDate } = Astro.props;
---

<article>
  <div>
    <header class="space-y-3">
      <p class="text-[#707070] text-xs">{publishDate}</p>
      <h1 class="text-base font-light leading-none text-white">{title}</h1>
    </header>
    <!---
    Post content comes here
    -->
    <main class="py-12 prose leading-none  prose-headings:font-light  prose-headings:text-white prose-headings:leading-none prose-h2:text-lg prose-h3:text-base prose-h4:text-base prose-h1:text-xl  prose-p:text-xs text-white prose:tracking-[0.072rem] font-thin prose:leading-loose prose-pre:border prose-pre:border-white/10 prose-pre:rounded-none prose-pre:bg-black">
      <slot />
    </main>
  </div>
</article>
